@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 6, 30;
  --background-end-rgb: 10, 6, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

/* For the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2A1F3D;
}

::-webkit-scrollbar-thumb {
  background: #4C3A6E;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B4C9F;
}
