@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 11, 46;
  --background-end-rgb: 5, 11, 46;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

/* For the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #081040;
}

::-webkit-scrollbar-thumb {
  background: #0066CC;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0080FF;
}
